:root {
  --leftbar-width: 300px;
  --leftbar-height: 100svh;
  --bottombar-width: 100svw;
  --bottombar-height: 300px;
  --icon-size: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
